.App {
  background-color: rgb(198, 223, 231);
  height: 100%;
  padding: 20px;
}

.aplogo {
  height: 50px;
  width: 50px;
}

.home-header {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
